<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sphere_installer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <sphere_installer.My.MySettings>
            <setting name="scriptBaseURL" serializeAs="String">
                <value>http://github.com/</value>
            </setting>
            <setting name="scriptVersion" serializeAs="String">
                <value>v0.0.1</value>
            </setting>
            <setting name="scriptName" serializeAs="String">
                <value>web-install.sh</value>
            </setting>
            <setting name="projectName" serializeAs="String">
                <value>sphere-installer</value>
            </setting>
            <setting name="scriptAuthor" serializeAs="String">
                <value>Grayda</value>
            </setting>
            <setting name="sphereUsername" serializeAs="String">
                <value>ninja</value>
            </setting>
            <setting name="spherePassword" serializeAs="String">
                <value>temppwd</value>
            </setting>
        </sphere_installer.My.MySettings>
    </userSettings>
</configuration>